<p-panel header="Pipes No tan comunes" class="p-1">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="i18nSelect Pipe">
      <p>
        Saludo {{ name }}, es un placer
        {{ gender | i18nSelect : invitationMap }} a nuestro evento.
      </p>
      <p-button label="Cambiar Persona" (click)="changeClient()"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="i18nPlural ">
      <p>
        Actualmente
        {{ clients.length | i18nPlural : clientsMap }}
      </p>
      <p-button (click)="deleteClient()" label="Borrar Cliente"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="Slice Pipe">
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clients | slice : 0 : 2 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="Json Pipe">
      <pre>{{ person | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="KeyValue Pipe">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key | titlecase }}</b
          >:{{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset [toggleable]="true" legend="Async Pipe">
      <pre>{{ myObservableTimer | async }}</pre>
      <pre>{{ promiseValue | async }}</pre>
    </p-fieldset>
  </div>
</div>
