<p-panel header="Pipes Personalizados" class="p-1">
  <p>
    Pipes Personalizados - creados por
    {{ "nosotros" | toogleCasePipe : isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      (click)="toogleUpperCase()"
      label="ToogleCase"
      icon="pi pi-search"
      class="mr-2"
    ></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      label="Por Nombre"
      icon="pi pi-sort"
      styleClass="p-button-success mr-2"
      class="mr-2"
    ></p-button>
    <p-button
      label="Volador"
      icon="pi pi-sort"
      styleClass="p-button-danger"
      class="mr-2"
    ></p-button>

    <p-button
      label="Por Color"
      icon="pi pi-sort"
      styleClass="p-button-help"
      class="mr-2"
    ></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table [value]="heroes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
